<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"
><!-- layout:decorate="~{fragments/layout}" fragments폴더안에  layout 렌더링-->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
	<div class="container card  my-5  p-3">
	   <h3>MULTIBOARD 상세보기</h3>
	   <div class="my-3 ">
	      <div class="">
	         <span><i class="bi bi-book-half"></i> 조회수</span>
	         <p th:text="${dto.bhit}"></p>
	      </div>
	   </div>
	   <div class="my-3">
	      <div class="">
	         <span><i class="bi bi-book-half"></i> 이름</span>
	         <p th:text="${dto.member.username}"></p>
	      </div>
	   </div>
	   <div class="my-3">
	      <div class="">
	         <span><i class="bi bi-book-half"></i> 제목</span>
	         <p th:text="${dto.btitle}"></p>
	      </div>
	   </div>
	   <div class="my-3">
	      <div class="">
	         <span><i class="bi bi-book-half"></i> 내용</span>
	         <textarea th:text="${dto.bcontent}" readonly class="form-control"></textarea>
	      </div>
	   </div>
	   <div class="my-3">
	      <div class="">
	         <span><i class="bi bi-book-half"></i> 이미지</span>
	         <p>
	         	<img th:src="@{'/upload/' + ${dto.bfile}}" 
	         		 th:alt="${dto.btitle}" 
	         		 style="width:200px"/>
	         </p>
	      </div>
	   </div>
	   
	   <div class="text-end">
	      <a th:href="@{|/board/update/${dto.id}|}" class="btn btn-dark">수정</a> 
	      <a th:href="@{|/board/delete/${dto.id}|}" class="btn btn-outline-dark">삭제</a> 
	      <a th:href="@{/board/list}" class="btn btn-outline-dark">목록보기</a>
	   </div>
</div>
		
</div>
	
<!-- Controller - localhost:8080/test1 -->
</body>
</html>