<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
><!-- layout:decorate="~{fragments/layout}" fragments폴더안에  layout 렌더링-->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
	<div class="container my-3">
		<h3 th:text="MYPAGE"></h3>		<!-- 인가 : 권한 -->
		<div class="alert alert-info" sec:authorize="hasRole('ADMIN')">ADMIN ROLE</div>
		<div class="alert alert-info" sec:authorize="hasRole('MEMBER')">MEMBER ROLE</div>
		<hr/>							<!-- 인증 : 신원확인 -->
		<div class="alert alert-info" sec:authentication="principal"></div>
		<div class="alert alert-info" sec:authentication="principal.authorities"></div>
		<div class="alert alert-info" sec:authentication="principal.username"></div>
	</div>	
</div>
</body>
</html>